.modal

  .modal-container
    position relative
    padding 25px
    top 50%
    -webkit-transform translateY(-50%)
    -ms-transform translateY(-50%)
    transform translateY(-50%)

    p
      font-family $Light
      color #8bbaff
      line-height 150%
      text-align center
      margin 0px 0px 15px

    .divider
      display block
      margin 30px auto
      width 20px
      border-bottom 2px solid #8bbaff
